/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}



/* Footer Styles */

footer {
    margin: 50px 0;
}

p {
	color:black;
	text:bold;
}

carousel-inner{
	height:1000px;
}
/* Add your styles below with comments*/
.MainHeading
{
	text-align:center;
	text-style:bold;
}

.contactform
{
background-color:white;
margin-top:40px;
margin-bottom:180px;

}


.submitstyle
{
	margin-left:15px;
margin-right:0px;
margin-top:10px;
margin-bottom:20px;
}
#tablediv
{
	padding-left: 10px;
	text-align:center;
	display:inline;
	border-spacing:10px;
	padding-bottom:10px;
	padding-top:10px;
	padding-right:10px;
	width:342px;
	height:330px;
}
#imagetable
{
	width:342px;
	height:330px;
	padding-left: 10px;
}


.conhead
{
	text-style:bold;
	text-align:left;
	
}
.footer
{
	
}

.footerstyle
{
	position:fixed;
	left:0px;
    bottom:0px;
    height:50px;
    width:100%;
	background-color: black;
	color:white;
	
	display:block;
}

.footernote
{
	text-align:center;
	color:white;
}
.webmark
{
	text-align:right;
	color:white;
	
}

.checkoutheading
{
	text-align:center;
	
}



.checkoutform
{
background-color:white;
margin-top:40px;
margin-bottom:180px;
border-collapse: separate;
    border-spacing: 10px;

}

.hometable
{
	margin-top:40px;
margin-bottom:180px;
	
}
